@font-face {
	font-family: 'WiGuru4';
	src: url('./fonts/wiguru4.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/wiguru4.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/wiguru4.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/wiguru4.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/wiguru4.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/wiguru4.svg#wiguru4') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'TRY Clother Bold';
	src: url('./fonts/try_clother_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/try_clother_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/try_clother_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/try_clother_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/try_clother_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/try_clother_bold.svg#try_clother_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
}

header {
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
}

li {
	list-style-type: none;
}

.links {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.links-style {
	font-size: 15px;
	text-decoration: none;
	font-family: 'WiGuru4';
	color: #FFFFFF;
	margin: 0 30px 0 30px;
}

.links-style:hover {
	color: #A37846;
	transition: 0.2s linear;
}

.search {
	display: flex;
	justify-content: space-around;
}

.language-switch {
	padding-top: 7px;
	font-size: 15px;
	text-decoration: none;
	font-family: 'WiGuru4';
	color: #FFFFFF;
}

.language-switch:hover {
	color: #A37846;
	transition: 0.2s linear;
}

.line {
	padding: 0 20px 0 20px;
}

main {
	display: flex;
	justify-content: center;
}

.main-page {
	display: flex;
	flex-direction: column;
}

.first-border {
	background-color: #FFFFFF;
	border-radius: 10px;
	margin: 30px 60px 0 60px;
	height: 56px;
	display: flex;
	justify-content: space-between;
}

.course {
	display: flex;
	flex-direction: row;
	padding-top: 18px;
}

.dollar {
	display: flex;
	flex-direction: row;
	padding-left: 16px;
	font-size: 17px;
}

.euro {
	display: flex;
	flex-direction: row;
	padding-left: 16px;
	font-size: 17px;
}

.currency {
	color: #9CA1A9;
	padding-right: 5px;
}

.checkbox {
	display: flex;
	flex-direction: row;
}

.switch {
	padding: 16px 16px 16px 10px;
}

.filter {
	padding: 18px 0 18px 0;
	color: #9CA1A9;
	font-family: 'WiGuru4';
}

input[type="checkbox"] {
	width: 48px;
	height: 24px;
	-webkit-appearance: none;
	outline: none;
	background: #E6E6E6;
	border-radius: 25px;
	transition: .5s;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, .2)
}

input:checked[type="checkbox"] {
	background: #00d451;
}

.front-part {
	border-radius: 10px 10px 0px 0px;
	background-color: #F2F2F2;
	margin: 17px 60px 0 60px;
}

.main-border {
	display: flex;
	justify-content: center;
}

.first-article {
	margin: 58px 60px 20px 60px;
	border: 5px solid #A37846;
	border-radius: 10px;
	width: 100%;
}

.heading {
	display: flex;
	justify-content: center;
	font-family: 'TRY Clother Bold';
	font-size: 50px;
	padding: 45px 66px 105px 66px;
}

.time {
	display: flex;
	justify-content: center;
	font-family: 'WiGuru4';
	font-size: 15px;
	color: #9CA1A9;
	padding-bottom: 30px;
}

.second-article-block {
	display: flex;
	justify-content: center;
	margin: 0 60px 20px 60px;
	border: 1px solid #9CA1A9;
	border-radius: 10px;
}

.main-new-block1 {
	display: flex;
	flex-direction: column;
}

.main-new1 {
	font-family: 'TRY Clother Bold';
	font-size: 35px;
	padding: 30px 15px 0 30px;
	color: #000000;
}

.main-time1 {
	font-family: 'WiGuru4';
	font-size: 15px;
	padding: 151px 0 30px 30px;
	color: #9CA1A9;
}

.main-news-block-styles {
	display: flex;
	flex-direction: column;
}

.main-new-block2 {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.main-new2 {
	font-family: 'TRY Clother Bold';
	font-size: 20px;
	color: #000000;
}

.main-time2 {
	font-family: 'WiGuru4';
	font-size: 15px;
	color: #9CA1A9;
}

.main-new-block3 {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}

.main-new3 {
	font-family: 'TRY Clother Bold';
	font-size: 20px;
	color: #000000;
}

.main-time3 {
	font-family: 'WiGuru4';
	font-size: 15px;
	color: #9CA1A9;
}

.main-new-block4 {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.main-new4 {
	font-family: 'TRY Clother Bold';
	font-size: 20px;
	color: #000000;
}

.main-time4 {
	font-family: 'WiGuru4';
	font-size: 15px;
	color: #9CA1A9;
}

.main-new-block5 {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}

.main-new5 {
	font-family: 'TRY Clother Bold';
	font-size: 20px;
	color: #000000;
}

.main-time5 {
	font-family: 'WiGuru4';
	font-size: 15px;
	color: #9CA1A9;
}

.third-article-block {
	display: flex;
	justify-content: center;
	margin: 0 60px 100px 60px;
	border: 1px solid #9CA1A9;
	border-radius: 10px;
}

.main-new-block6 {
	display: flex;
	flex-direction: column;
}

.main-new6 {
	font-family: 'TRY Clother Bold';
	font-size: 35px;
	padding: 30px 15px 0 30px;
	color: #000000;
}

.main-time6 {
	font-family: 'WiGuru4';
	font-size: 15px;
	padding: 120px 0 30px 30px;
	color: #9CA1A9;
}

.main-news-block-styles3 {
	display: flex;
	flex-direction: column;
}

.main-new-block7 {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.main-new7 {
	font-family: 'TRY Clother Bold';
	font-size: 20px;
	color: #000000;
}

.main-time7 {
	font-family: 'WiGuru4';
	font-size: 15px;
	color: #9CA1A9;
}

.main-new-block8 {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}

.main-new8 {
	font-family: 'TRY Clother Bold';
	font-size: 20px;
	color: #000000;
}

.main-time8 {
	font-family: 'WiGuru4';
	font-size: 15px;
	color: #9CA1A9;
}

.main-new-block9 {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.main-new9 {
	font-family: 'TRY Clother Bold';
	font-size: 20px;
	color: #000000;
}

.main-time9 {
	font-family: 'WiGuru4';
	font-size: 15px;
	color: #9CA1A9;
}

.main-new-block10 {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}

.main-new10 {
	font-family: 'TRY Clother Bold';
	font-size: 20px;
	color: #000000;
}

.main-time10 {
	font-family: 'WiGuru4';
	font-size: 15px;
	color: #9CA1A9;
}

footer {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}

.footer-media {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 40px;
}

.first-footer-block {
	display: flex;
	flex-direction: column;
}

.social-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.projects-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.telegram-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.ad-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer-crucial-style {
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'WiGuru4';
	font-size: 20px;
}

.bottom-links-style {
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'WiGuru4';
	font-size: 20px;
}

.bottom-links-style:hover {
	color: #A37846;
	transition: 0.3s linear;
}

.bottom-giphy {
	display: flex;
	justify-content: center;
	padding: 40px 0 40px 0;
}

.border-giphy {
	border-top: 1px solid #FFFFFF;
	width: 75%;
	display: flex;
	justify-content: center;
}

.footer-giphy-style {
	margin-top: 40px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'WiGuru4';
	font-size: 20px;
}